* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('bgc-a.webp');
    background-attachment: fixed;
    overflow-x: hidden;
}

section {
    background-color: rgba(255, 255, 255, 0.788);
    margin: 2em 2rem 3rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 15px rgba(4, 5, 4, 0.3);
    padding: 1rem;
}

.grid, .grida, .gridb, .gridc {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    gap: 15px;
    margin: 0;
    padding: 2rem;
    overflow-x: scroll;
    position: relative;
}

.grid::-webkit-scrollbar, .grida::-webkit-scrollbar, .gridb::-webkit-scrollbar, .gridc::-webkit-scrollbar {
    display: none;
}

header {
    position: sticky;
    top: 0;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.921);
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25em;
}

.nav h1 {
    font-size: 3em;
    color: white;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2em;
    margin: 0 1rem;
    justify-content: center;
    padding: 0;
}

.nav-bar li {
    position: relative;
    padding: 10px;
}
.nav-bar .services .dropdown {
    display: none; 
    position: absolute;
    top: 100%; 
    left: -50px;
    background-color: #292e3a;
    min-width: 200px;
    z-index: 1;
    border-radius: 15px;
}

.nav-bar .services:hover .dropdown {
    display: block; 
}


.nav-bar .services .dropdown li {
    padding: 3px;
    margin-left: 40px;
}

.nav-bar .services .dropdown li a {
    color: #fefefe;
}

.nav-bar .services .dropdown li a:hover {
    background-color: #777171;
}


.nav-bar ul li a {
    color: #96989f;
    text-decoration: none;
    font-size: 1.02rem;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.int {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5rem;
}

.int img {
    width: 35vw;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.intro-a {
    max-width: 45vw;
    text-align: left;
}

.intro-a h2 {
    font-size: 5rem;
    color: #333;
    margin-bottom: 1rem;
}

.intro-a p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.pro {
    display: flex;
    justify-content: center;
}

.pro h2 {
    font-size: 3.5rem;
    color: rgb(89, 101, 101);
}

.btn1, .btn1-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    transition: transform 0.5s ease;
    background-color: #fff;
}

.btn1 img, .btn1-shop img {
    height: 25vw;
    border-radius: 15px;
    margin: 0;
}


.btn1:hover, .btn1-shop:hover {
    transform: scale(1.1);
    opacity: 2;
}

.contact-us, .view-btn, .top, .top-btn, .Engv {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.con-btn {
    background: linear-gradient(45deg, #0b0000, #696b77);
    color: #fdfbfb;
    font-weight: bold;
    font-size: 25px;
    border: none;
    padding: 10px;
    width: 8em;
    border-radius: 10px;
    cursor: grab;
}

.our-svr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.engv{
    display: flex;
    justify-content: center;
}

.view-btn button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 15px;
}

.letter {
    display: flex;
    flex-direction: column;
}

.insta-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #c7c6c6;
}

.ig-h, .ig-h span {
    margin: 15px;
}

.insta-btn button {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

table {
    width: 60vw;
    height: 250px;
    font-size: 18px;
    margin: auto;
}

footer {
    margin: 25px;
    border-radius: 1em;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.shop-a {
    max-width: 90vw;
    margin: 15px auto 0;
    align-content: center;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    row-gap: 10px;
}

.srv-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
    gap: 20px;
    height: 250px;
}

.aa, .qa {
    background-color: #e1dbdb;
    border-radius: 5px;
}

.qa {
    width: 90%;
    height: 250px;
    background-color: #f0ecec;
    margin: auto;
}

/* Responsive Styles */
@media (max-width: 555px) {
    header {
        margin: 2px;
        padding: 5px;
        height:18vh;
    }

    .shop-grid, .srv-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    section {
        margin: 2px;
        padding:5px;
        border-radius: 10px;
    }

    .nav {
        margin-top: 3px;
    }

    .nav h1 {
        font-size: 2em;
    }

    .nav-bar ul {
        gap: 8px;
        margin-top: 1px;
    }

    .nav-bar ul li a {
        font-size: 12px;
    }

    .int {
        margin: 1px 5px;
        display: block;
    }

    .int img {
        width: 80vw;
    }

    .intro-a {
        margin-left: 1px;
    }

    .intro-a h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .intro-a p {
        font-size: 16px;
        margin-top: 15px;
    }
    .btn1 img{
        height:30vh
        
    }

    .pro h2 {
        font-size: 25px;
    }

    .grid, .grida, .gridb {
        gap: 10px;
        margin: 0 2px;
    }

    .shop-a {
        justify-content: center;
    }

    table {
        font-size: 12px;
        height: auto;
    }

    footer {
        margin: 10px;
        background-color: #ece9e9;
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    .shop-grid {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .btn1-shop img{
        height:20vh
    }
}
@media (max-width: 950px) {
    .int img {
        width: 80vw;
    }
}
 