* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
section{
    background-color: #fff;
    margin: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(3, 3, 3, 0.3);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 10px;
}

.nav {
    
    margin-top: 25px;
}

.nav h1 {
    font-size: 3em;
    color: white;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 2em;
    margin: 0 15px;
}
.nav-bar ul li a {
    color: #96989f;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.intro {
    margin: 25px;
    display: flex;
    margin-left: 150px;
    flex-wrap: wrap;
}

.intro img {
    height: 500px;
}

.intro-a {
    margin-left: 250px;
}

.intro-a h2 {
    font-size: 55px;
    margin-top: 50px;
    color: rgb(56, 55, 53);
    font-weight: lighter
}

.intro-a p {
    font-size: 25px;
    width: 550px;
    margin-top: 100px;
    color: rgb(199, 176, 152);
    font-weight: lighter;
}
.pro {
    display: flex;
    justify-content: center;
}

.pro h2 {
    font-size: 50px;
    color: rgb(89, 101, 101)
}

.btn1 {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.btn1:hover {
    transform: scale(1.1)
}

.btn2 {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 5rem;
    margin: 15px;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: scroll;
}

.contect-us {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.con-btn {
    background: linear-gradient(45deg, #0b0000, #696b77);
    color: rgb(253, 251, 251);
    font-weight: bold;
    font-size: 25px;
    border: none;
    padding: 10px;
    width:8em;
    border-radius: 10px;
    cursor: grab;
}
.top-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 15px;
}

/* .services {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.our-svr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 5rem;
    margin: 15px;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: auto;
}

.grid2 button {
    border-radius: 500px;
    width: 250px;

}

.view-btn {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.view-btn button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 15px;
}

.insta-btn {
    display: flex;
    gap: 25px;
    background-color: #c7c6c6;
}

.ig-h {
    margin: 15px;

}

.ig-h span {
    margin: 15px;

}

.insta-btn button {
    margin: 10px;
    margin-left: 35%;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.insta-btn p {
    width: 400px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

table {
    width: 60vw;
    height: 250px;
    font-size: 18px;
    margin: auto;
}

footer {
    margin: 25px;
    border-radius: 1em;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* shop page */
.shop-a {
    max-width: 1200px;
    margin: auto;
    align-content: center;
    margin-top: 15px;

}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.srv-grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 250px;
}
.aa{
background-color: #e1dbdb;
border-radius: 5px;
}
.srv-grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 15px;
    gap: 20px;
}
.qa{
    width:90%;
    height:250px;
    background-color: #f0ecec;
    margin: auto;
    border-radius: 5px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width:555px) {
    header {
        padding: 10px;
    }
    section{
        margin: 10px;
    }
    .nav {
        margin-top: 5px;
    }
    .nav h1 {
        font-size: 3em;
    }
    
    .nav-bar ul {
        gap: 10px;
        margin-top: 15px;
    }
    .nav-bar ul li a{
        font-size:0.90em;
    }
    .intro {
        display: flex;
        margin-left: 11px;
        justify-content: center;
    }
    .intro-a {
        margin-left: 15px;
    }
    
    .intro img {
        height: 400px
    }
    .intro-a h2 {
        font-size: 25px;
        margin-top: 20px;
    }
    
    .intro-a p {
        font-size: 16px;
        width: auto;
        margin-top: 15px;

    }  
    .pro h2 {
        font-size: 25px;
    }
    .grid {
        gap: 15px;
    }
    
    .grid-1 {
        grid-template-columns: repeat(2, 2fr);
        gap: 15px;
        padding-left: 15px;
        padding-right: 20px;
    } 
    .shop-a {
       display: flex;
       justify-content: center;    
    }
    
    .shop-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    table {
        height: auto;
        font-size: 12px;
        margin: auto;
    }
    
    footer {
        margin: 10px;
        background-color: #ece9e9;
    }
}